<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">BÁN HÀNG TRỰC TUYẾN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                {% for c in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">{{c.name}}</a>
                </li>
                {% endfor %}
            </ul>
            <form class="d-flex" method="get", action="/">
                <input class="form-control me-2" name="key" placeholder="Nhập từ khóa tìm kiếm...">
                <button class="btn btn-primary" type="submit">Tìm</button>
            </form>
        </div>
    </div>
</nav>